#section-project-history {
    background-color: var(--light-gray-color);
    height: 229px;
    display: flex;
    align-items: center;

    .section-project-history-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            margin: 20px 20px;

            h1 {
                display: inline-block;
                font-size: 35px;
                font-weight: 700;
            }

            span {
                display: block;
                font-size: 20px;
                font-weight: 400;
            }
        }

    }


    @media screen and (max-width: 700px) {
        height: auto;
        padding: 40px 0;

        .section-project-history-content {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            div {
                text-align: center;
            }
        }
    }
}